<%= render 'admin/dashboard/sidebar' %>
<div class="d-flex justify-content-center">
  <div class="card " style="width: 560px; margin-top: 70px;">
    <div class="card-header">
      <h2>Profile</h2>
    </div>
    <div class="card-body">
      <label class="form-label"><h4>Full Name:</h4></label>
      <p class="card-text"><%= @user.name %></p>
      <label class="form-label"><h4>Email</h4></label>
      <p class="card-text"><%= @user.email %></p>
      <label class="form-label"><h4>Role:</h4></label>
      <p class="card-text"><%= @user.role %></p>
      <div class="d-flex justify-content-center">
        <div class="edit-btn">
          <%= link_to edit_user_path(@user), class: 'btn btn-warning btn-md' do %>
            <i class="fas fa-edit"></i> Edit
          <% end %>
        </div>
        <div class="back-btn">
          <%= link_to users_path, class: 'btn btn-info btn-md' do %>
            <i class="fas fa-eye"></i> Back
          <% end %>
        </div>
        <div class="del-btn">
          <%= link_to user_path(@user), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-md' do %>
            <i class="fas fa-trash-alt"></i> Delete
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>