<div class="card col-sm-4" style="margin-top: 200px;">
  <h2 class="card-header">Forgot your password?</h2>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field mb-3">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class:'form-control' %>
      </div>

      <p>Please enter your valid Email. Reset password link to your email address via Email</p>

      <div class="actions text-center mt-3">
        <%= f.submit "Send me reset password instructions", class: 'btn btn-primary gap-2 col-6 mx-auto' %>
      </div>
    <% end %>
  </div>
</div>

