<%= render 'admin/dashboard/sidebar' %>
<div class="new-form col-sm-4">
  <h2><%= t "devise.invitations.new.header" %></h2>

  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <% resource.class.invite_key_fields.each do |field| -%>
      <div class="field mb-3">
        <%= f.label field, class: 'mb-2' %><br />
        <%= f.text_field field, class: 'form-control' %>
      </div>
    <% end %>

    <div class="actions text-center mt-3">
      <%= f.submit t("devise.invitations.new.submit_button"), class: 'btn btn-primary gap-2 col-6 mx-auto' %>
    </div>
  <% end %>
</div>