<table class="table table-bordered table-sortable">
  <thead>
    <tr>
      <th scope="col">
        <%= link_to admin_users_path(sort: "id", direction: sort_direction("id")) do %>
          ID
        <% end %>
      </th>
      <th scope="col">
        <%= link_to admin_users_path(sort: "name", direction: sort_direction("name")) do %>
          Name
        <% end %>
      </th>
      <th scope="col">
        <%= link_to admin_users_path(sort: "email", direction: sort_direction("email")) do %>
          Email
        <% end %>
      </th>
      <th scope="col">Role</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr data-controller="delete-confirmation">
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.role %></td>
        <td>
          <%= link_to edit_admin_user_path(user), class: 'btn btn-warning btn-sm' do %>
            <i class="fas fa-edit"></i> Edit
          <% end %>
          <%= link_to admin_user_path(user), class: 'btn btn-info btn-sm' do %>
            <i class="fas fa-eye"></i> Show
          <% end %>
          <button class="btn btn-danger btn-sm" data-action="click->delete-confirmation#show" data-delete-url="<%= admin_user_path(user) %>">
            <i class="fas fa-trash-alt"></i> Delete
          </button>     
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="modal" tabindex="-1" role="dialog" id="del-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Confirm Delete</h5>
        <button type="button" class="close" id="close-btn" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p> Are you sure you want to delete this user?.</p>
      </div>
      <div class="modal-footer">
        <%= link_to "confirm", '', method: :delete, class: "btn btn-danger btn-md", id: "del-btn" %>
      </div>
    </div>
  </div>
</div>