<div class="new-form col-sm-6 mt-5 mx-auto">
  <h2 class="header text-center mb-4">Edit User</h2>
  <%= form_for [:admin, @user] do |f| %>
    <div class="form-group mb-3">
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control', value: f.object.name.capitalize %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' %>
    </div>

    <div class="form-group mb-3">
      <%= f.label :role %>
      <%= f.select :role, User.roles.keys, class: 'form-control' %>
    </div>

    <div class="actions text-center mt-3">
      <%= f.submit 'Update', class: 'btn btn-primary gap-2 col-6 mx-auto' %>
    </div>
  <% end %>
</div>
