<div class="row mt-5">
  <div class="col-md-10">
    <h1>Users</h1>
  </div>

  <div class="col-1">
    <%= link_to export_csv_admin_users_path(format: :csv), class: 'btn btn-primary' do %>
      <span class="text-truncate">Export CSV</span>
    <% end %>
  </div>

  <div class="col-1">
    <%= link_to new_user_invitation_path, class: 'btn btn-primary' do %>
      <span class="text-truncate">User Invite</span>
    <% end %>
  </div>
</div>

<hr>

<%= form_tag admin_users_path, method: :get do %>
  <div class="row mb-4">
    <div class="col-md-4">
      <div class="input-group">
        <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search by name, or email' %>
      </div>
    </div>

    <div class="col-sm-2">
      <div class="input-group">
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<div class="user-table">
  <%= render 'user_table' %>
  <div class="pagy_nav_bootstrap"><%== pagy_bootstrap_nav(@pagy).html_safe %></div>
</div>